* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

h2 {
  color: white;
  position: relative;
  z-index: 2;
  text-align: center;
  padding-top: 4rem;
}
